<!DOCTYPE html>
<html lang="en">

<head>
   {{>headerLinks}}
</head>

<body>
    {{>navbar}}
    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- Main Header right -->
                    <div class=" col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img style="height: 30rem; width: 30rem;"
                                src="/images/Sanjan.jpg"
                                class="img-fluid" title="Sanjan" alt="...">

                        </figure>
                    </div>
                    <!-- Main Header left -->
                    <div class=" col-md-6 col-12 main_header_left">
                        <p>Welcome to weather app</p>
                        <h1>I Am A<span class="text_clr"> MERN Stack Developer </span></h1>
                        <a href="https://www.linkedin.com/in/sanjan-iiests/" target="_blank"><button>About Me</button></a>

                    </div>



                </div>
            </div>

        </div>
    </div>
    </div>

    <!-- footer -->

   {{>footer}}

</body>

</html>